/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #000; }

html {
  font-size: 1em;
  line-height: 1; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: #333;
  color: #eee;
  font-family: "Open Sans", sans-serif;
  padding: 1em;
  margin: 0;
  display: block;
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100%;
  line-height: 1.3;
  letter-spacing: 0.2em;
  cursor: pointer;

  -webkit-transition: background-color 3s ease;
  transition: background-color 3s ease;
}

header {
  width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}

h1, h2 {
  font-family: 'Fira Mono', monospace;
  margin: 0;
  text-align: left;
}

h2 {
  color: #AAA;
  white-space: nowrap;
}

h2:before {
  content: '// ';
}

h3 {
  color: #EEE;
}

p + h3 {
  margin-top: 3rem;
}

a {
  color: rgb(100, 150, 250);
}

#wrapper {
  max-width: 40em;
  margin: 3em auto;
  display: block;
  position: relative;
}

.rest_position #wrapper, .active #wrapper, .complete #wrapper {
  display: none;
}

.clearfix:after {
  content:" ";
  display: block;
  height: 0;
  clear: both;
}

#statuses {
  display: none;
}

#instructions {
  color: #AAA;
}
#instructions:before {
  content: "/*";
  font-family: 'Fira Mono', monospace;
}
#instructions:after {
  content: "*/";
  font-family: 'Fira Mono', monospace;
}

.mono {
  font-family: 'Fira Mono', monospace;
}

  /*COLOURS*/

body.rest_position {
  background-color: #333;
}

body.active {
  cursor: none;
}

  /*ANIMATE COMPLETE*/
@-webkit-keyframes bow {
  0%, 50% {
    background-color: #EEE;
  }
  70% {
    background-color: #777;
  }
  100% {
    background-color: #EEE;
  }
}

body.complete {
  background-color: #EEE;
  -webkit-animation: bow 3s ease 3;
}


/*#statuses p {
  width: 50%;
  float: left;
  text-align: center;
}*/

/*#utterances {
  text-align: center;
  color: #D22;
  margin-top: 1em;
}

@-webkit-keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#utterances p {
  margin: 0;
  -webkit-animation-name: animation;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: ease;
}*/
